.homeAbout {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.homeAboutButton {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    padding: 0.4rem 2rem;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    border-radius: 30px;
    border: 3px solid #DCAB68;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    z-index: 1;
}

.homeAboutButton::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #DCAB68;
    transition: left 0.4s ease;
    z-index: -1;
    border-radius: 30px;
}

.homeAboutButton:hover::after {
    left: 0;
}

.homeAboutButton:hover {
    color: #fff;
    border-color: #DCAB68;
}

.homeAboutButton:hover svg,
.homeAboutButton:hover i {
    transform: translateX(4px);
    transition: transform 0.3s ease;
}

.homeAboutText {
    max-width: 700px;
    font-size: 1.3rem;
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
    margin: 0;
}

.homeAboutButton .arrowUpIcon {
    transform: rotate(47deg);
    width: 16px;
    height: 16px;
}

@media (max-width: 1000px) {
    .homeAbout {
        flex-direction: column-reverse;
        gap: 1.5rem;
    }

    .homeAboutButton {
        align-self: flex-start;
    }
}

@media (max-width: 468px) {
    .homeAbout {
        gap: 1rem;
    }

    .homeAboutText {
        font-size: 1.1rem;
        line-height: 28px;
    }

    .homeAboutButton {
        font-size: 1rem;
    }

    .homeAboutButton .arrowUpIcon {
        width: 14px;
        height: 14px;
    }
}

@media (max-width: 398px) {

    .homeAboutText {
        font-size: 1rem;
        line-height: 26px;
    }

    .homeAboutButton {
        font-size: 15px;
    }

}